<html>

<head></head>

<body>
    <form action="/" method="POST">
        <div class="input-group">
            Name:
            <input type="text" class="form-control" name="userName" placeholder="Enter your full name">
            <br> Email:
            <input type="text" class="form-control" name="userEmail" placeholder="Enter valid email id">
            <br>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>